<div class="ui vertical footer segment" style="margin-top: 30px; ">
	<div class="ui center aligned container">
		<span class="info"> 本脚本及其面板基于 <a href="https://github.com/Ark-Aak/LSPaintBoard-Control_Panel"
				target="_blank">LSPaintBoard-Control_Panel</a>.</span>
	</div>
</div>
<script src="/js/sound.js"></script>
<script src="/js/main.js"></script>
</body>

</html>