<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Paintboard API Panel</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
		<script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/semantic-ui/dist/semantic.min.js"></script>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui-range/range.min.css">
		<script src="https://cdn.jsdelivr.net/npm/semantic-ui-range/range.min.js"></script>
		<link rel="stylesheet" href="/css/style.css">
		<link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet"/>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
	</head>
	<body style="padding-top: 0px">
		<div style="height: 3em; font-size: 1.1em;" class="ui borderless menu">
			<div class="ui container">
				<div class="header item" style="font-size: 1.2em"> 绘版脚本面板 </div>
				<a href="/" class="item"> <i class="home icon"></i> 主页 </a>
				<a href="/heatmap" class="item"> <i class="map icon"></i> 热力 </a>
			</div>
		</div>