body {
	padding-top: 20px;
}

#logs {
	height: 200px;
	overflow-y: auto;
	border: 1px solid #ddd;
	padding: 10px;
	background-color: #f9f9f9;
}

#tokenList {
	height: 270px;
	overflow-y: auto;
	border: 1px solid #ddd;
	padding: 10px;
	background-color: #f9f9f9;
}

.ui.progress .progress {
	right: 0.2em !important;
	color: white;
}

#heatmap {
	width: 100%;
    height: auto;
    border: 5px solid #000000;
    border-radius: 10px;      /* 边角圆润 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 添加阴影效果 */
}

#hideHeatmap {
	margin-left: 15px;
}

.info {
	color: gray;
}